version: 2.1

orbs:
  node: circleci/node@1.1

jobs:
  test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache
        steps:
          - run: yarn install
      - run: yarn test
